<div class="row">
  <div class="col-md-offset-3 col-md-5 ci-incidents-list">

    <h2>Live Monitor Incidents</h2>

    <div>
      <ul class="operations">
        <li><a ui-sref="dashboard.ciBuildItems">Build History</a></li>
        <li><a ui-sref="dashboard.ciIncidents">Incidents</a></li>
      </ul>
    </div>

    <div ng-hide="incidents.length">
      No incidents reported yet. Have you <a ui-sref="dashboard.repos">enabled</a> a repository to be tested?
    </div>

    <div ng-show="incidents.length">
      Below you will find all the reported incidents.
      <ul class="ci-incidents">
        <li ng-repeat="incident in incidents" class="incident-item">
          <a ui-sref="dashboard.ciIncident({ incidentId: incident.id })">{{ incident.label }}</a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div ui-view></div>

