<div class="row">
  <div class="col-md-offset-3 col-md-5 repos-list">

    <h2>{{ incident.label }}</h2>

    <div class="dev-tip">
      <i class="fa fa-info-circle" popover-placement="right" popover-template="'ciIncidentTip.html'" popover-title="Dev Tip"></i>
    </div>

    <div class="log-wrapper">
      <div ng-bind-html="incident.failing_build.log"></div>
    </div>

  </div>
</div>

<div ui-view></div>

<script type="text/ng-template" id="ciIncidentTip.html">
  <p>
    See the log that was executed by Shoov
  </p>
</script>

