<div id="repository-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-desktop"></i>
            <a ui-sref="dashboard.homepage">Dashboard</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a ui-sref="dashboard.repos">Live Monitor Repositories</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            {{ build.label }}
          </li>
        </ul>
        <hr class="no-margin"/>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <h2>Live Monitor Repository</h2>
    <div class="row">
      <div class="col-sm-12">
        <h5><i class="fa fa-tasks"></i> Repository settings</h5>
        <div class="soft-border">
          <a  ng-href="https://github.com/{{ build.label }}" target="_blank"> <i class="fa fa-external-link-square"></i> {{ build.label }}</a>
          <span class="divider"> &nbsp | &nbsp</span>
          <a class="encrypt-keys-link" ui-sref="dashboard.encrypt({ buildId: parseInt(build.id) })"><i class="fa fa-key"></i> Encrypt keys</a>
          <div class="interval-wrapper">
            <label for="interval">Build interval: </label>
            <select ng-change="updateInterval()" ng-options="id as label for (id, label) in intervals" class="form-control" id="interval" ng-model="build.interval"></select>
            <i ng-class="{'fa-check': responseStatus}" class="fa"></i>
          </div>
        </div>
        <div class="watermark">
          <i class="fa fa-cog watermark"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <br/>
      <div class="col-sm-6">
        <h5><i class="fa fa-calendar"></i> Build History</h5>
        <div class="soft-border">
          <div ng-show="ciBuildItemQueueOrInProgress">
            <span class="label label-sm label-{{ ciBuildItemQueueOrInProgress.status }}">{{ buildStatuses[ciBuildItemQueueOrInProgress.status] }}</span>
            <a ui-sref="dashboard.ciBuildItem({ ciBuildItemId: ciBuildItemQueueOrInProgress.id })">#{{ciBuildItemQueueOrInProgress.id}}</a> - {{ (ciBuildItemQueueOrInProgress.start_timestamp*1000) | date : 'MMM d, y h:mm a' }}
          </div>
          <div ng-hide="ciBuildItems.length"> Here you will see a log of every live monitor build.</div>
          <div class="table-scrollable table-responsive" ng-show="ciBuildItems.length">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#ID</th>
                <th>Start time</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr class="ci-build-item animate" ng-repeat="ciBuildItem in ciBuildItems | filter: { status: ('!queue' && '!in_progress') }">
                <td><a ui-sref="dashboard.ciBuildItem({ ciBuildItemId: ciBuildItem.id })">#{{ ciBuildItem.id }}</a></td>
                <td>{{ (ciBuildItem.start_timestamp*1000) | date : 'MMM d, y h:mm a' }}</td>
                <td><span class="label label-sm label-{{ ciBuildItem.status }}">{{ ciBuildItem.status }}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <br class="visible-xs"/>
        <h5><i class="fa fa-exclamation-circle"></i> Incidents</h5>
        <div class="soft-border">
          <div ng-hide="incidents.length">Yay, no incidents!</div>
          <div class="table-scrollable table-responsive" ng-show="incidents.length">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Incident time</th>
              </tr>
              </thead>
              <tbody>
              <tr class="incident-item animate" ng-repeat="incident in incidents">
                <td><a ui-sref="dashboard.ciIncident({ incidentId: incident.id })">{{ incident.label }}</a></td>
                <td>{{ (incident.created*1000) | date : 'MMM d, y h:mm a' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <div ui-view></div>
  </div>
</div>
