<div class="row">
  <div class="col-md-offset-3 col-md-5 screenshots-list">

    <h2>UI Builds</h2>

    <div class="description">
      Bellow are the recent UI regression builds. Only if a visual regression was found (i.e. a failing test) it will be listed here.
    </div>

    <div ng-hide="builds.length" class="jumbotron">
      No builds were uploaded yet. Make sure you have created your <code>~/.shoov.jsom</code> file by copy pasting the following code into your terminal:

      <div class="config">
        <input type="text" size="50" name="config" value='curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}'>
      </div>


      See <a href="https://github.com/shoov/test-example" target="_blank">this</a> repo for an example.
    </div>

    <ul ng-show="builds.length" class="builds">
      <li ng-repeat="build in builds" class="build-item">

         <a ng-href="#/screenshots/{{ build.id }}">{{ build.label }}</a>

      </li>
    </ul>
  </div>
</div>

<div ui-view></div>

