<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard.homepage">Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          Visual Regression
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 builds-list">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption font-blue-sharp">
          <i class="fa fa-history"></i>
          <span class="caption-subject">Visual Regression</span>
        </div>
      </div>

      <div class="portlet-body">
        <div class="description">
          Bellow are the recent visual regression builds. Only if a visual regression was found (i.e. a failing test) it will be listed here.
        </div>

        <div class="dashboard-stat dashboard-stat-light white-soft" ng-hide="builds.length">
          <div class="col-md-12 code-box">
            No builds were uploaded yet. Make sure you have created your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:

            <div class="config">
              <input type="text" size="50" name="config" value='curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}'>
            </div>

            See <a href="https://github.com/shoov/test-example" target="_blank">this</a> repo for an example.

            <div class="dev-tip">
              <i class="fa fa-info-circle" popover-template="'angularFun.html'" popover-title="Dev Tip"></i>
            </div>
            <div class="visual background">
              <i class="fa fa-code"></i>
            </div>
          </div>
        </div>
        <div ng-show="builds.length">
          <ul class="builds">
            <li class="build-item animate" ng-repeat="build in builds">
              <i class="fa fa-server"></i>
              <a ng-href="#/screenshots/{{ build.id }}" >{{ build.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

<script type="text/ng-template" id="angularFun.html">
  <p>
    More of a client side person? The Angular code for this page is <a href="https://github.com/shoov/shoov/blob/master/client/app/views/dashboard/builds/builds.html#L1" target="_blank">here</a>. Care to join and improve? It's open source after all!
  </p>
</script>
