<div class="row">
  <div class="col-sm-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-desktop"></i>
          <a ui-sref="dashboard.homepage">Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          Visual Regression
        </li>
      </ul>
      <hr class="no-margin"/>
    </div>
  </div>
</div>
<div class="wrapper">
  <h2>Visual Regression</h2>
  <h5><i class="fa fa-history"></i> Builds</h5>
  <div class="soft-border">
    <div class="builds-list">
      <p> <i class="fa fa-info-circle"></i> Bellow are the recent visual regression builds. Only if a visual regression was found (i.e. a failing test) it will be listed here.</p>
      <div ng-hide="builds.length">
        <div>
          <p>No builds were uploaded yet. Make sure you have created your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:</p>
          <div class="config-details">
            <p>Create or update your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:</p>
            <div class="pre-code">curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}</div>
            <p>See <a href="https://github.com/shoov/test-example" target="_blank">this</a> repo for an example.</p>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="repositoriesLength > 1">
        <label for="repository">Filter by repository</label>
        <select class="form-control" id="repository" ng-model="repositoryFilter">
          <option value="0" selected="selected">-No filter-</option>
          <option ng-value="id" ng-repeat="(id, label) in repositories">{{label}}</option>
        </select>
      </div>
      <div class="table-scrollable table-responsive builds" ng-show="builds.length">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Repository</th>
            <th>Created</th>
          </tr>
          </thead>
          <tbody>
            <tr class="build-item animate" ng-repeat="build in builds | buildsFilter: repositoryFilter">
              <td><a ui-sref="dashboard.screenshots({ buildId: build.id })"><i class="fa fa-server"></i> {{ build.label }}</a></td>
              <td>{{ build.repository.label }}</td>
              <td>{{ (build.created*1000) | date : 'MMM d, y h:mm a' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>
