<div class="row">
  <div class="col-md-12 ci-build-item">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption font-{{ ciBuildItem.status }}">
          <i class="fa fa-heartbeat"></i>
          <span class="caption-subject">#{{ ciBuildItem.id }} (status: {{ ciBuildItem.status }})</span>
        </div>
      </div>
      <div class="portlet-body">
        <div ng-show="ciBuildItem.status != 'queue'" class="log-wrapper">
          <pre ng-bind-html="ciBuildItem.log">
          </pre>
        </div>

        <div ng-show="ciBuildItem.status == 'queue'">
          Live Monitor build item is still in the queue. Refresh in a few minutes to see the log.
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>
