<div class="row">
  <div class="col-md-12 ci-build-item">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject">{{ incident.label }}</span>
        </div>
        <div class="actions">
          <span>
            Started: {{ (incident.created*1000) | date : 'MMM d, y h:mm a' }}
          </span>
          |
          <span ng-if="incident.created != incident.updated">
            Terminated: {{ (incident.updated*1000) | date : 'MMM d, y h:mm a' }}
          </span>
          |
          <span>
            Downtime: {{downTime}}
          </span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="log-wrapper">
          <pre ng-bind-html="incident.failing_build.log">
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

<script type="text/ng-template" id="ciIncidentTip.html">
  <p>
    See the log that was executed by Shoov
  </p>
</script>

