<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard.homepage">Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a ui-sref="dashboard.repos">Live Monitor Repositories</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="build">
          <a ui-sref="dashboard.ciBuild({ buildId: {{build.id}} })">{{ build.label }}</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          {{ incident.label }}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 incident">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject">{{ incident.label }}</span>
        </div>
        <div class="actions">
          <span class="label label-sm label-error incident-info">
            Started: {{ (incident.created*1000) | date : 'MMM d, y h:mm a' }}
          </span>
          <span ng-if="incident.created != incident.updated" class="label label-sm label-done incident-info">
            Terminated: {{ (incident.updated*1000) | date : 'MMM d, y h:mm a' }}
          </span>
          <span class="label label-sm label-queue incident-info">
            Downtime: {{ downTime }}
          </span>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="info incident-builds">
          <li><div class="build-type">1st failing build:</div> <a ui-sref="dashboard.ciBuildItem({ ciBuildItemId: incident.failing_build.id })">Build #{{ incident.failing_build.id }}</a></li>
          <li ng-if="incident.fixed_build"><div class="build-type">Fixed build:</div> <a ui-sref="dashboard.ciBuildItem({ ciBuildItemId: incident.fixed_build.id })">Build #{{ incident.fixed_build.id }}</a></li>
          <li class="background">
            <i class="fa fa-slack"></i>
          </li>
        </ul>
        <div class="log-wrapper">
          <pre ng-bind-html="incident.failing_build.log">
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

<script type="text/ng-template" id="ciIncidentTip.html">
  <p>
    See the log that was executed by Shoov
  </p>
</script>

