<div id="homepage">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li class="active"><i class="fa fa-desktop"></i> Dashboard</li>
        </ul>
        <hr class="no-margin"/>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-6">
      <div class="wrapper">
        <a ui-sref="dashboard.repos">
          <h2><i class="fa fa-heartbeat"></i></h2>
          Live Monitor
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="wrapper">
        <a ui-sref="dashboard.builds">
          <h2><i class="fa fa-history"></i></h2>
          Visual Regression
        </a>
      </div>
    </div>
  </div>
</div>
