<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">Dashboard</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 live-monitor-wrapper">
    <a class="dashboard-stat dashboard-stat-light red-soft" ui-sref="dashboard.repos">
      <div class="visual">
        <i class="fa fa-heartbeat"></i>
      </div>
      <div class="details">
        <div class="desc">
          Live Monitor
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-6 visual-regression-wrapper">
    <a class="dashboard-stat dashboard-stat-light blue-soft" ui-sref="dashboard.builds">
      <div class="visual">
        <i class="fa fa-book"></i>
      </div>
      <div class="details">
        <div class="desc">
          Visual Regression
        </div>
      </div>
    </a>
  </div>
</div>
