<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard.homepage">Shoov</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="dashboard.account">My Account</a></li>
        <li><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="container content">
  <div ui-view class="main"></div>
</div>
<footer id="footer">
  <div class="container">
    <div class="company-details row">
      <span><i class="fa fa-map-marker"></i>5 Brenner St | Tel-Aviv| Israel </span>
      <span><i class="fa fa-phone"></i>Tel: +972-3-3731222 | Fax: +972-3-5617771</span>
      <span><i class="fa fa-envelope-o"></i><a href="mailto:info@gizra.com" class="email">info@gizra.com</a></span>
      <span>
        <a href="http://www.gizra.com" target="_blank">
          <span> {{year}} <i class="fa fa-copyright"></i></span>
          <span class="gizra-logo">gizra</span>
        </a>
      </span>
    </div>
  </div>
</footer>
