<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard.homepage">Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          My account
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-5 portlet">
    <div class="portlet-title">
      <div class="caption font-green-sharp">
        <i class="fa fa-user"></i>
        <span class="caption-subject">My account</span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row account">
        <div class="col-md-12">
          <i class="fa fa-github-alt"></i>
          Name: {{ account.label }}
        </div>
        <div class="col-md-12">
          <i class="fa fa-envelope"></i>
          Mail: {{ account.mail }}
        </div>
      </div>

    <form class="browser-stack-form" editable-form name="editableForm" onaftersave="saveBrowserStackData()">
      <div ng-click="editableForm.$show()">
        <div class="row">
          <div class="col-md-6">
            BrowserStack Username:
          </div>
          <div class="col-md-6">
            <span class="like-a" href="#" editable-text="account.browserstack_username">{{ account.browserstack_username || 'empty' }}</span>
          </div>
        </div>
      </div>
      <div ng-show="editableForm.$visible">
        <div class="row">
          <div class="col-md-6">
            BrowserStack Key:
          </div>
          <div class="col-md-6">
            <span href="#" editable-text="account.browserstack_key">{{ account.browserstack_key || 'empty' }}</span>
          </div>
        </div>
      </div>
      <div class="form-actions" ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </div>
    </form>

      <div class="dashboard-stat dashboard-stat-light white-soft">
        <div class="col-md-12 code-box">
          Create or update your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:

          <div class="config">
            <input type="text" size="50" name="config" value='curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}'>
          </div>

          <div class="dev-tip">
            <i class="fa fa-info-circle" popover-placement="right" popover-template="'userAccount.html'" popover-title="Dev Tip"></i>
          </div>

          See <a href="https://github.com/shoov/test-example" target="_blank">this</a> repo for an example.
        </div>
        <div class="visual background">
          <i class="fa fa-code"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="userAccount.html">
  <p>
    Since <code>~/.shoov.json</code> is a JS file we use RESTful to get the info, so infact the <code>curl</code> command calls a custom RESTful <a href="https://github.com/shoov/shoov/blob/master/shoov/modules/custom/shoov_restful/plugins/restful/user/config/1.0/ShoovConfigResource.class.php#L22" target="_blank">resource</a>
  </p>
  <div>
    Next in out todo list is allowing you to add your BrowserStack/ SauceLabs
    username and key, so it will be part of the config. We already have it in the backend.
  </div>
</script>
