<div id="account-page">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-desktop"></i>
        <a ui-sref="dashboard.homepage"> Dashboard</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        Account
      </li>
    </ul>
    <hr class="no-margin"/>
  </div>
  <div class="wrapper">
    <h2>Account</h2>
    <div class="account-details">
      <h5><i class="fa fa-github-alt"></i> Github account</h5>
      <div class="soft-border">
        <div class="row box">
          <div class="col-xs-3"><i class="fa fa-user"></i> Name</div>
          <div class="col-xs-9">
            <span>{{ account.label }}</span>
          </div>
        </div>
        <div class="row box">
          <div class="col-xs-3 "><i class="fa fa-envelope"></i> Mail</div>
          <div class="col-xs-9">
            <span>{{ account.mail }}</span>
          </div>
        </div>
      </div>
      <br/>
      <h5><i class="fa fa-database"></i> BrowserStack account</h5>
      <div class="soft-border">
        <form class="browser-stack-form account" editable-form name="stackEditableForm" onaftersave="saveSeleniumProvidersData('browserstack')">
          <div ng-click="stackEditableForm.$show()">
            <div class="row box">
              <div class="col-xs-3" ng-class="{'no-border': stackEditableForm.$visible}">
                <i class="fa fa-user"></i>
                User name
              </div>
              <div class="col-xs-9">
              <span editable-text="account.browserstack_username">
                {{ account.browserstack_username || 'empty' }}
                <i class="fa fa-pencil edit-icon"></i>
              </span>
              </div>
            </div>
          </div>
          <div ng-show="stackEditableForm.$visible">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-key"></i>
                Key
              </div>
              <div class="col-xs-9">
                <span editable-text="account.browserstack_key">{{ account.browserstack_key || 'empty' }}</span>
              </div>
              <div class="col-xs-offset-3 col-xs-9">
                <div class="form-actions" ng-show="stackEditableForm.$visible">
                  <button type="submit" class="btn btn-primary" ng-disabled="stackEditableForm.$waiting">
                    Save
                  </button>
                  <button type="button" class="btn btn-default" ng-disabled="stackEditableForm.$waiting" ng-click="stackEditableForm.$cancel()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <br/>
      <h5><i class="fa fa fa-flask"></i> Sauce Labs account</h5>
      <div class="soft-border">
        <form class="sauce-labs-form account" editable-form name="sauceEditableForm" onaftersave="saveSeleniumProvidersData('sauce')">
          <div ng-click="sauceEditableForm.$show()">
            <div class="row box">
              <div class="col-xs-3" ng-class="{'no-border': sauceEditableForm.$visible}">
                <i class="fa fa-user"></i>
                User name
              </div>
              <div class="col-xs-9">
              <span editable-text="account.sauce_username">
                {{ account.sauce_username || 'empty' }}
                <i class="fa fa-pencil edit-icon"></i>
              </span>
              </div>
            </div>
          </div>
          <div ng-show="sauceEditableForm.$visible">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-key"></i>
                Key
              </div>
              <div class="col-xs-9">
                <span editable-text="account.sauce_access_key">{{ account.sauce_access_key || 'empty' }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
              <div class="form-actions" ng-show="sauceEditableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="sauceEditableForm.$waiting">
                  Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="sauceEditableForm.$waiting" ng-click="sauceEditableForm.$cancel()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="wrapper">
    <h2>Configuration</h2>
    <div class="config-details">
      <p>Create or update your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:</p>
      <div class="pre-code">curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}</div>
    </div>
    <i class="fa fa-cog watermark"></i>
  </div>
</div>
