#footer {
  color: $gray;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $dark-blue;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  @include mobile {
    margin-top: 50px;
    padding-bottom: 20px;
  }


  .company-details {
    text-align: center;

    @include mobile {
      text-align: left;
      margin: 0 auto;
      max-width: 280px;
    }

    span {
      margin-right: 10px;

      @include mobile {
        display: block;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.09);

        &:first-child {
          margin-top: 0px;
        }
      }

      a {
        color: $gray;

        &.gizra-logo {
          letter-spacing: 0.7px;
          font-size: 17px;
          color: $gizra;
        }
      }

      i {
        color: $turquoise;
        margin-right: 5px;
      }
    }
  }
}
