body {
  #account-page {

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }

    .box {
      border-bottom: 1px solid $smoke-blue;

      &:last-child {
        border-bottom: none
      }

      > div {

        &:nth-child(1) {
          padding-top: 15px;
        }

        &:nth-child(2) {
          @include desktop-only{
            border-left: 1px solid $smoke-blue;
          }
        }
      }
      .space-box {
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
      }
    }

    .browser-stack-form,
    .sauce-labs-form {

      .editable {
        cursor: pointer;
      }
    }

    .code-box {
      margin-top: 60px;
    }
  }
}
