#account-page {
  .account-details,
  .config-details {

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }

    .form-actions {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .box {
      border-bottom: 1px solid $smoke-blue;

      &:last-child {
        border-bottom: none
      }

      > div {
        padding-top: 15px;
        padding-bottom: 15px;

        &:first-child {
          border-right: 1px solid $smoke-blue;

          &.no-border {
            border: none;
          }
        }
      }
    }
  }
}
