.before-after-slider {
  position: relative;

  & > * {
    position: absolute;
  }

  .labels {
    height: 25px;
    position: relative;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-left: 2px;
    margin-right: -2px;

    .baseline {
      float: left;
    }

    .regression {
      float: right;
    }
  }

  .baseline-wrapper {
    border: 2px solid green;
    border-right: 1px solid black;
    overflow: hidden;
  }

  .regression-wrapper {
    border: 2px solid red;
  }

}
