.labels {
  height: 25px;

  .baseline {
    float: left;
  }

  .regression {
    float: right;
  }
}

.before-after-slider {
  position: relative;

  & > * {
    position: absolute;
  }

  .baseline-wrapper {
    border: 2px solid green;
    border-right: 1px solid black;
    overflow: hidden;
  }

  .regression-wrapper {
    border: 2px solid red;
  }

}
