.before-after-slider {
  position: relative;

  & > * {
    position: absolute;
  }

  .labels {
    height: 25px;
    position: relative;

    .baseline,
    .regression{
      padding: 4px;
      font-size: 13px;
      font-weight: normal;
    }

    .baseline {
      float: left;
    }

    .regression {
      float: right;
    }
  }

  .baseline-wrapper,
  .regression-wrapper {
    margin-top: 5px;
  }

  .baseline-wrapper {
    height: 100%;
    border-left: 3px solid $brand-done;
    border-top: 3px solid $brand-done;
    border-bottom: 3px solid $brand-done;
    border-right: 4px solid black;
    background-color: transparent;
    overflow: hidden;
    cursor: default;
    cursor: ew-resize;
  }

  .regression-wrapper {
    height: 100%;
    border: 3px solid $brand-error;
    background-color: transparent;
    overflow: hidden;
  }

}
