  .red {
    color: red;
  }

  label {
    display: block;
    color: #5D5C5C;
  }

  .form-item {
    margin-bottom: 20px;

    input,
    textarea {
      width: 80%;
    }
  }

  .result {
    margin-bottom: 20px;

    input,
    textarea {
      width: 100%;
    }

    textarea {
      height: 150px;
    }
  }
