#footer {
  color: $gray;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $dark-blue;

  .company-details {
    text-align: center;

    span {
      margin-right: 10px;

      @include mobile-only {
        display: block;
        margin-top: 10px;
      }

      a {
        color: $gray;
      }

      i {
        color: $turquoise;
        margin-right: 5px;
      }
    }
  }
}
