#header {
  background: $dark-blue;
  color: $turquoise;

    .container {
      padding-bottom: 50px;

      .navbar-brand {
        color: #fff;
        background: $turquoise;
        @include border-radius(0px 0px 5px 5px);
      }
    }

  .navbar-nav {
    height: 50px;

    li {
      margin-left: 8px;

      &:hover a {
        background: transparent;
        color: $turquoise;
      }

      a {
        color: $light-gray;

        &.active {
          color: $turquoise;

        }
      }
    }

  }
}
