#homepage {

  #demo-url-wrapper {
    padding: 20px;

    form {

      label {
        color: $light-blue;
        font-size: 17px;
        margin-bottom: 0px;
      }

      .description {
        display: block;
      }

      input {
        margin-top: 15px;
        padding: 2px 5px 4px;

        @include mobile-only {
         width: 100%;
        }
      }

      button {
        padding: 3px 25px;

        @include mobile-only {
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    .watermark i {
      bottom: 0px;
      right: 10px;
    }
  }
}


