.live-monitor-wrapper,
.visual-regression-wrapper {
  text-align: center;
  padding-top: 30px;
}

#demo-url-form {
  text-align: center;
  background-color: $brand-info-light;
  padding-bottom: 20px;
}
