#homepage {

  #demo-url-wrapper {

    form {
      label {
        margin-bottom: 0px;
      }

      input {
        margin-top: 5px;
        padding: 2px 5px 4px;

        @include mobile-only {
         width: 100%;
        }
      }

      button {
        padding: 3px 25px;

        @include mobile-only {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }

  .watermark i {
    bottom: 7px;
    font-size: 70px;
  }

  #dashboard-links {
    .link {
      @include mobile-only {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      > div {
        @include box-shadow(0px 5px 10px -2px rgba(0, 0, 0, 0.2));
        @include border-radius(6px);
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }

    a {
      text-decoration: none;

      &:hover {

        h5 {
          color: $dark-turquoise;
        }

        .main-icon {
          background: darken($gray-blue, 3%);
        }
      }

      h5,
      .main-icon, {
        @include transition(0.3s ease-in all);
      }

      h5 {
        margin-bottom: 5px;
        border: none;
        color: $turquoise;
        background: white;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;

        @include mobile-only {
          margin-bottom: 30px;
        }
      }

      .main-icon {
        padding: 30px;
        background: $gray-blue;

        i {
          font-size: 106px;
          color: white;
        }
      }
    }
  }
}


