#dashboard-login,
#dashboard-github-auth {
  margin-top: 200px;
  color: $light-gray;

  .container {

    .login-wrapper {
      max-width: 500px;
      margin: 25px auto 0px auto;
      padding: 15px;
      background: rgba(123, 135, 146, 0.12);
      border: 1px solid rgba(255, 255, 255, 0.14);
      @include single-box-shadow(4px , 4px , 30px ,0px , #252729);
      @include border-radius(4px);
    }

    h1 {
      margin-top: 0;
      margin-bottom: 25px;
      color: $light-gray;
      font-size: 40px;
      font-weight: 400;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    a {
      color: $turquoise;
    }

    .github-private {
      margin-top: 20px;

      button {
        margin-right: 2px;
      }
    }

    .btn-github {
      color: white;
      background: $turquoise;

      &:hover {
        background: $dark-turquoise;
      }
    }
  }
}

#dashboard-github-auth {
  color: $turquoise;
}
