#repositories-page {

 .soft-border {
    padding: 15px;

   #organizations {
     margin-bottom: 20px;
   }

   ul.repos {
     background: white;

     &.pager-is-active {
       max-height: 265px;
       padding: 10px;
       overflow-y: scroll;
       border: 1px solid $smoke-blue;
     }

     li {
       margin-bottom: 10px;
     }

     .repos-checkbox {
       float: left;
       width: 30px;

       .checker {
         margin-left: 3px;
         width: 19px;
         height: 19px;

         span {
           display: inline-block;
           zoom: 1;
           text-align: center;
           background: url("/images/sprite.png") 0 -260px no-repeat;
           width: 19px;
           height: 19px;

           &.checked {
             background-position: -76px -260px;
           }

           input[type="checkbox"] {
             cursor: pointer;
             opacity: 0;
             filter: alpha(opacity=0);
             -moz-opacity: 0;
             border: none;
             background: none;
             display: -moz-inline-box;
             display: inline-block;
             zoom: 1;
             width: 19px;
             height: 19px;
             outline: none;
           }
         }
       }
     }
    }

   ul.pagination {
     float: none;
     margin-bottom: 0px;
   }
 }
}


