#repository-page {

  a {
    text-decoration: none;

     i {
       color: $turquoise;
     }
  }

  .interval-wrapper label,
  .divider {
    color: $light-blue;
  }

  .interval-wrapper {
    margin-top: 10px;

    .form-control {
      width: auto;
      display: inline-block;

      @include mobile() {
        display: block;
        width: 100%;
      }
    }

    i {
      margin-left: 5px;

      &.fa-check {
        color: $brand-success;
      }
    }
  }

  .ci-build-item {

    .label {
      padding: 4px;
    }

  }
}
