#screenshot-page {

  .info {
    li {
      > div {
       @include desktop() {
         display: inline-block;
         width: 77px;
       }
      }
    }
  }

  label {
    font-weight: normal;
    color: $light-blue;
  }

  .repository-data {
    @include desktop {
      padding-top: 20px;
      min-height: 155px;
    }
  }

  .show-diff {
    margin-bottom: 10px;
  }

  .screenshot-item-selector {

    label {
      display: inline-block;
      margin-bottom: 0px;
    }
    .checkbox {
      margin-top: 0px;
    }
  }

  #image-style {
    color: $turquoise;
  }

  .screenshot-wrapper {

    .delete a,
    .delete i{
      color: $brand-error;
    }

    .diff-image {
      margin-top: 25px;
      border: 2px solid #222;
    }
  }

  .pagination {
    text-align: center;
    width: 100%;
  }

}

