.screenshots-list {

  .show-diff {
    text-align: right;
  }

  .pr-wrapper {

    .form-group {
      margin: 0;

      input {
        width: 40%;
        display: inline-block;
        margin-right: 3px;
        float: left;
      }
    }
  }

  .image-size {
    margin-top: 30px;

    label {
      display: inline-block;
    }
  }

  .screenshot-header {
    border-bottom: 1px solid $brand-main-color;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    float: left;
    width: 100%;

    .download-wrapper {
      float: right;
      margin-top: 10px;
    }
  }

  .screenshot-wrapper {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px 15px 60px;
    float: left;
    width: 100%;

    .screenshot-item {

      .name {
        margin-bottom: 20px;
        font-size: 60px;
        font-weight: lighter;
        line-height: 50px;
        margin-top: -10px;

        @media (max-width: 320px) {
          font-size: 24px;
          line-height: 18px;
          margin-top: 0;

        }

        @media (min-width: 321px) and (max-width: 768px) {
          font-size: 32px;
        }

        input {
          vertical-align: middle;
        }

        .delete {
          font-size: 18px;

          :hover {
            text-decoration: underline;
          }

          i {
            vertical-align: text-top;
          }
        }
      }
    }

    .diff-image {
      margin-top: 25px;
      border: 2px solid #222;
    }
  }
}

.pagination {
  text-align: center;
  float: left;
  width: 100%;
}
