//##  Colors
$brand-default:         			#c6c6c6;
$brand-main-color:            #777777;
$brand-primary:         		 	#428bca;
$brand-success:         		 	#45B6AF;
$brand-success-hover:         #3E9790;
$brand-info:            		 	#89C4F4;
$brand-warning:         		 	#dfba49;
$brand-danger:          		 	#F3565D;
$main-bg-color:          		 	#F1F3FA;
$gray-bg-color:          		 	#AAAAAA;
$state-danger-hover:          #A94442;
$state-primary-hover:         #31708F;
$page-title-color:        		#666666;
$breadcrumb-color:            #999999;
$footer-bg:                   #3B434C;
$footer-color:                #A2ABB7;
$brand-title-purple:          #8775a7;
$brand-sky:                   #54AEFF;
$brand-info-message-bg:       #EEF7FB;
$brand-info-message-color:    #31708F;
$brand-info-message-border:   #A6E1EC;
