// @todo: We can't import _bootstrap.scss, as for some reason it causes the
// PhantomCSS tests to fail on Travis.

// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "compass/css3";

@import 'account';
@import 'before_after_image_slider';
@import 'homepage';
@import 'loadingbar';
@import 'repos';
@import 'screenshots';
@import 'spinner';
@import 'encrypt-form';

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  float: right;
}


// @todo: This should be taken care of by the bootstrap-social lib.
.btn.btn-github:hover {
  color: white;
}

#dashboard-login,
#dashboard-github-auth {
  background: {
    image: image-url("fish.jpg");
    repeat: no-repeat;
    position: top left;
  };
  width: 100%;
  height: 100%;
  position: absolute;

  @include background-size(cover);

  .jumbotron {
    margin-top: 80px;
    background-color: white;
  }

  .github-private {
    margin-top: 20px;
  }
}

.builds {
  margin-top: 20px;
}

.config {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dev-tip {
  margin-top: 10px;

  .fa {
    font-size: 20px;
    color: green;
    cursor: pointer;
  }

  &.message {
    margin-top: 40px;
    background-color: #ffffe0;
    border: 1px solid black;
    padding: 10px 20px;
    @include border-radius(5px);
    font-size: 18px;
  }
}

.build-item.updated {
  background-color: #DCFFC8;
}
