// @todo: We can't import _bootstrap.scss, as for some reason it causes the
// PhantomCSS tests to fail on Travis.

// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "compass/css3";

@import "mixin";
@import "custom_bootstrap";
@import "footer";
@import "login";
@import 'account';
@import 'before_after_image_slider';
@import 'builds';
@import 'homepage';
@import "incident";
@import 'loadingbar';
@import 'repos';
@import 'repo';
@import 'screenshots';
@import 'spinner';
@import 'encrypt-form';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', arial, sans-serif;
  background: $dark-blue;

  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .shoov-logo {
    font-family: 'Audiowide', arial, sans-serif;
  }

  .gizra-logo {
    text-transform: lowercase;
    font-family: Abril Fatface;
    color: $gizra;

    &:hover, &:focus {
      text-decoration: none;
      color: $gizra-dark;
    }
  }

  .navbar {
    margin-bottom: 0;
    background: none;
    border: 0 none;

    .container {
      background: white;
      box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.2);
      padding: 15px 20px 5px 20px;
      min-height: 0;
      z-index: 1;
    }
  }

  .navbar-nav {
    float: right;
  }

  .page-title {
    padding: 0;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 24px;
    display: block;
    color: $page-title-color;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }

  .page-bar {
    padding: 0;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;

    .page-breadcrumb {
      display: inline-block;
      padding: 10px 6px;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        color: $breadcrumb-color;
        font-size: 16px;
        text-shadow: none;

        @media (max-width: 768px) {
          font-size: 14px;
        }

        > a {
          color: $breadcrumb-color;
        }

        > i {
          color: $gray-bg-color;
          font-size: 18px;
          text-shadow: none;

          &.fa-angle-right {
            width: 28px;
            text-align: center;
          }
        }
      }
    }
  }

  /* Animation */
  .animate {
    @include transition(0.7s ease-out all);

    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      @include transition(all linear 0.7s);
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      opacity:0;
      max-height:0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
      opacity:1;
      max-height:40px;
    }
  }

  .ng-enter-active {
    background-color: $brand-highlight;
  }
  /* End animation */

  .font-red-sunglo,
  .font-error {
    color: $brand-danger;
  }

  .font-green-sharp,
  .font-done {
    color: $brand-success;
  }

  .font-blue-sharp,
  .font-in_progress {
    color: $brand-primary;
  }

  .font-purple-intense {
    color: $brand-title-purple;
  }

  .font-queue {
    color: $brand-warning;
  }

  .label {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;

    &.label-sm {
      font-size: 12px;
      padding: 0 4px 1px 4px;
    }

    &.label-error {
      background-color: $brand-danger;
    }

    &.label-done {
      background-color: $brand-success;
    }

    &.label-queue {
      background-color: $brand-warning;
    }

    &.label-in_progress {
      background-color: $brand-sky;
    }
  }

  .portlet {
    padding: 12px 20px 15px 20px;
    background-color: white;
    float: left;
    width: 100%;

    .portlet-title {
      border-bottom: 1px solid #eee;
      padding: 0;
      margin-bottom: 10px;
      min-height: 48px;
      float: left;
      width: 100%;

      > .caption {
        float: left;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        padding: 10px 0;

        > i {
          font-size: 15px;
          font-weight: 300;
          margin-top: 3px;
        }

        > .caption-subject {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }

      > .actions {
        padding: 6px 0 14px 0;
        float: right;
        display: inline-block;
      }
    }

    .portlet-body {
      padding-top: 8px;
      float: left;
      width: 100%;

      .description {
        margin-bottom: 15px;
      }

      .col-list {
        background-color: $main-bg-color;
        padding: 0 20px 20px;
      }

      .portlet {
        padding: 0;
      }
    }

    .info {
      margin: 0 0 20px 0;
      padding: 15px 30px 15px 15px;
      border-left: 5px solid $brand-info-message-border;
      background-color: $brand-info-message-bg;
      color: $brand-info-message-color;
      position: relative;
      min-height: 90px;

      .background {
        position: absolute;
        right: 10px;
        bottom: 0;
        font-size: 65px;
        opacity: 0.4;
      }
    }

    .log-wrapper {

      pre {
        @include border-radius(0);
        background: black;
        color: white;
      }
    }
  }

  .dashboard-stat {
    display: block;
    margin-bottom: 25px;
    position: relative;
    height: auto;
    float: left;
    width: 100%;

    &:before {
      content: " ";
      display: table;
    }

    &.dashboard-stat-light {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    &.red-soft {
      background-color: $brand-danger;

      &:hover {
        background-color: $state-danger-hover;
      }
    }

    &.blue-soft {
      background-color: $brand-primary;

      &:hover {
        background-color: $state-primary-hover;
      }
    }

    &.green-soft {
      background-color: $brand-success;

      &:hover {
        background-color: $brand-success-hover;
      }
    }

    &.white-soft {
      padding-top: 10px;
      background-color: $main-bg-color;

      .config {

        input {
          width: 75%;
        }
      }

      .visual {

        > i {
          color: black;
        }
      }

      &:hover {
        background-color: $main-bg-color;
      }
    }

    .visual {
      width: 80px;
      height: 80px;
      display: block;
      float: left;
      padding-top: 10px;
      padding-left: 15px;
      margin-bottom: 15px;
      font-size: 35px;
      line-height: 35px;

      &.background {
        position: absolute;
        bottom: 20px;
        right: 55px;
      }

      > i {
        margin-left: 0;
        font-size: 110px;
        line-height: 110px;
        color: white;
        opacity: 0.1;
      }
    }

    .details {
      position: absolute;
      right: 15px;
      padding-right: 15px;
      margin-bottom: 5px;

      .desc {
        color: white;
        padding-top: 25px;
        text-align: right;
        font-size: 34px;
        line-height: 36px;

        @media (max-width: 320px) {
          font-size: 32px;
          line-height: 34px;
        }
      }
    }
  }

  // Override bootstrap default buttons and inputs.
  input.form-control,
  textarea.form-control {
    @include border-radius(0);
  }

  .btn {
    outline: none;
    background-image: none;
    filter: none;
    @include box-shadow(none);
    text-shadow: none;
  }

  .config {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .dev-tip {
    display: inline-block;

    .fa {
      font-size: 20px;
      color: $turquoise;
      cursor: pointer;
    }

    &.message {
      margin-top: 40px;
      background-color: $light-gray;
      padding: 10px 20px;
      @include border-radius(5px);
      font-size: 18px;
    }
  }

  .content {
    background: $light-gray;

    .main {
      min-height: 1000px;
    }
  }
}
