<div class="row">
  <div class="col-md-4 screenshots-list">
    <h2>Screenshots list</h2>
    <ul>
      <li ng-repeat="screenshot in screenshots">
        {{ screenshot.label }}
        <div ng-style="{'height' : screenshot.regression.height}">
          <before-after-image-slider first="{{ screenshot.baseline.self }}" second="{{ screenshot.regression.self }}" width="{{ screenshot.regression.width }}" height="{{ screenshot.regression.height }}"></before-after-image-slider>
        </div>
      </li>
    </ul>
  </div>
</div>

<div ui-view></div>

