<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard.homepage">Dashboard</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a ui-sref="dashboard.builds">Visual Regression</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          Screenshot
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 screenshots-list">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption font-blue-sharp">
          <i class="fa fa-desktop"></i>
          <span class="caption-subject">Screenshot</span>
        </div>
      </div>

      <ul class="info">
        <li>Repository: <a ng-href="https://github.com/{{ repoName }}">{{ repoName }}</a></li>
        <li>Branch: <a ng-href="https://github.com/{{ repoName }}/tree/{{ gitCommit }}">{{ gitBranch }}</a></li>
        <li>Commit: <a ng-href="https://github.com/{{ repoName }}/commit/{{ gitCommit }}">{{ gitCommit }}</a></li>
        <li class="background">
          <i class="fa fa-github"></i>
        </li>
      </ul>

      <div class="row">

        <div>
          <div class="col-md-6">

            <div class="pr-wrapper">
              <div class="form-group">
                <input type="text" class="form-control" ng-disabled="prProgress" ng-model="prName">
                <button class="btn btn-primary" ng-disabled="!selection.length || prProgress" ng-click="pullRequest()">Create Pull Request </button>
              <span class="dev-tip">
                <i class="fa fa-info-circle" popover-placement="right" popover-template="'prDocker.html'" popover-title="Dev Tip"></i>
              </span>
              </div>

              <div>
                <a ng-href="{{ prUrl }}" ng-show="prUrl">{{ prUrl }}</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 show-diff">
            Show diff <input bs-switch type="checkbox" ng-model="showDiff">
          </div>
        </div>
      </div>
    </div>

    <div class="row image-size">
      <div class="col-md-4">
        <label for="image-style">Image size:</label>
        <select id="image-style" ng-model="imageStyle">
          <option ng-repeat="(value, style) in imageStyles" value="{{value}}" ng-selected="{{value == imageStyle}}">{{style}}</option>
        </select>
      </div>
    </div>

    <div class="screenshot-header">
      <div class="row">
        <div class="col-md-1">
          <div class="screenshot-item-selector">
            Select all
            <checkbox large name="selectAll" ng-model="allSelected" ng-click="selectAll()"></checkbox>
          </div>
        </div>
        <div class="col-md-11">
          <div class="download-wrapper">
            <button class="btn btn-primary" ng-disabled="!selection.length" ng-click="zip()">Download</button>

        <span class="dev-tip">
          <i class="fa fa-info-circle" popover-placement="right" popover-template="'zip.html'" popover-title="Dev Tip"></i>
        </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-repeat="screenshot in screenshots" class="screenshot-wrapper">
      <div class="row">
        <div class="col-md-1 checkbox-wrapper">
          <checkbox large name="selectedScreenshots[]" ng-model="screenshot.selected"></checkbox>
        </div>
        <div class="col-md-11 screenshot-item">
          <div class="name">
            {{ screenshot.label }}
          <span class="delete">
            <a href ng-click="delete(screenshot.id)">
              (<i class="glyphicon glyphicon-remove"> </i> Delete)
            </a>
          </span>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-style="{'height' : screenshot.maxHeight[imageStyle] }">

            <img class="diff-image" ng-show="showDiff" ng-src="{{ imageStyle == 'self' ? (screenshot.diff.self + '?access_token=' + accessToken) : (screenshot.diff.styles[imageStyle]['url'] + '&access_token=' + accessToken)}}" />

            <before-after-image-slider ng-hide="showDiff"
             baseline-img-src="{{ imageStyle == 'self' ? (screenshot.baseline.self + '?access_token=' + accessToken) : (screenshot.baseline.styles[imageStyle]['url'] + '&access_token=' + accessToken)}}"
             regression-img-src="{{ imageStyle == 'self' ? (screenshot.regression.self + '?access_token=' + accessToken) : (screenshot.regression.styles[imageStyle]['url'] + '&access_token=' + accessToken)}}"
             max-width="{{ screenshot.maxWidth[imageStyle] }}"
             max-height="{{ screenshot.maxHeight[imageStyle] }}">
            </before-after-image-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 pagination">
    <pagination
      ng-model="currentPage"
      total-items="screenshots.length"
      max-size="maxSize"
      rotate="false"
      boundary-links="true"
      items-per-page="itemsPerPage">
    </pagination>
  </div>
</div>

<div ui-view></div>

<script type="text/ng-template" id="prDocker.html">
  <p>
    We still need to add socket.io so you won't need to press <code>F5</code>, as you need now. Also there's almost no error handling if a PR fails.
  </p>
  <div>
    But still this part is pretty cool. Hey, why not have a look at the <a href="https://github.com/shoov/php-ci/blob/master/Dockerfile#L1" target="_blank">Dockerfile</a>, or the <a href="https://github.com/shoov/shoov-pr-server/blob/master/routes/create_pr.js#L1" target="_blank">nodejs</a> server?
  </div>
</script>

<script type="text/ng-template" id="zip.html">
  <p>
    Yap, The zip is created in the <a href="https://github.com/shoov/shoov/blob/master/client/app/scripts/services/zip.js#L21" target="_blank">client</a>!
  </p>
</script>
