<div class="row">
  <div class="col-md-4 screenshots-list">
    <h2>Screenshots list</h2>

    <button ng-disabled="!selection.length" ng-click="zip()">Download</button>

    <input type="checkbox" ng-model="showDiff">Show diff

    <ul>
      <li ng-repeat="screenshot in screenshots">

        <input type="checkbox" name="selectedScreenshots[]" ng-model="screenshot.selected">
          {{ screenshot.label }}

        <div ng-style="{'height' : screenshot.regression.height}">

          <img ng-show="showDiff" ng-src="{{ screenshot.diff.self }}?access_token={{ accessToken }}" />

          <before-after-image-slider ng-hide="showDiff" first="{{ screenshot.baseline.self }}?access_token={{ accessToken }}" second="{{ screenshot.regression.self }}?access_token={{ accessToken }}" width="{{ screenshot.regression.width }}" height="{{ screenshot.regression.height }}"></before-after-image-slider>
        </div>

        <div>
          <a href ng-click="delete(screenshot.id)">
            <i class="glyphicon glyphicon-remove"> </i> Delete
          </a>

        </div>
      </li>
    </ul>
  </div>
</div>

<div ui-view></div>

