<div id="dashboard-login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Sign in</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="login-wrapper">
          <a class="btn btn-block btn-social btn-lg btn-github text-center" ng-show="githubClientId" ng-href="https://github.com/login/oauth/authorize?client_id={{ githubClientId }}&scope=user:email,read:org,{{ githubPrivateAccess ? 'repo' : 'public_repo'}}">
            <i class="fa fa-github"></i> Sign in with GitHub
          </a>
          <div class="github-private">
            <checkbox ng-model="githubPrivateAccess"></checkbox>
            Allow Shoov to access your private repositories
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
