<footer id="footer">
  <div class="container">
    <div class="company-details row">
      <span>
       <a href="http://www.gizra.com" class="gizra-logo" target="_blank">gizra</a>
        | 5 Brenner Street, Tel-Aviv, Israel
      </span>
      <span><i class="fa fa-phone"></i>Tel: +972-3-3731222 | Fax: +972-3-5617771</span>
      <span><i class="fa fa-envelope-o"></i><a href="mailto:info@gizra.com" class="email">info@gizra.com</a></span>
      <span><i class="fa fa-copyright"></i>{{ year }}</span>
    </div>
  </div>
</footer>
