<div ng-if="debugResponsiveBreakpoints" class="responsive-points" style="position: fixed; top: 0px; z-index: 10000000000; width: 100%;">
  <div class="visible-xs text-center" style="background: red; color: white">col-xs</div>
  <div class="visible-sm text-center" style="background: blue; color: white">col-sm</div>
  <div class="visible-md text-center" style="background: orange; color: white">col-md</div>
  <div class="visible-lg text-center" style="background: green; color: white">col-lg</div>
</div>
