<div class="row">
  <div class="col-md-offset-3 col-md-5">
    <div>
      Name: {{ account.label }}
    </div>

    <div>
      Mail: {{ account.mail }}
    </div>


    <div class="jumbotron">
      Create or update your <code>~/.shoov.json</code> file by copy pasting the following code into your terminal:

      <div class="config">
        <input type="text" size="50" name="config" value='curl -o ~/.shoov.json {{backend}}/api/v1.0/config?access_token={{ accessToken }}'>
      </div>

      See <a href="https://github.com/shoov/test-example" target="_blank">this</a> repo for an example.
    </div>

  </div>
</div>
